.chat_wrapper {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    background: #CCCCCC;
    border: 1px solid #999999;
    padding: 10px;
    font: 12px 'lucida grande', tahoma, verdana, arial, sans-serif;
    margin-top: 20px;
}

.chat_wrapper .message_box {
    background: #FFFFFF;
    height: 150px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #999999;
}

.chat_wrapper .panel input {
    padding: 2px 2px 2px 5px;
}
