<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf8">
  <title>Estadísticas</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    .mb-30 {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mb-30">Estadísticas de los jugadores</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre del jugador</th>
          <th>Partidas ganadas</th>
          <th>Partidas perdidas</th>
          <th>Partidas empatadas</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="player : ${listaPlayer}">
          <td><span th:text="${player.name}"></span></td>
          <td><span th:text="${player.wins}"></span></td>
          <td><span th:text="${player.losses}"></span></td>
          <td><span th:text="${player.draws}"></span></td>
        </tr>
        <tr th:if="${listaPlayer.isEmpty()}">
          <td colspan="4">No hay ningún registro disponible</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div align="center">
    <a href="/"><button class="btn btn-lg btn-danger" id="statisticBtn">Volver</button></a>
    </div>
</body>
</html>